<aside class="sidenav" [class.collapsed]="isCollapsed">
  <div class="sidenav-header">
    <div class="logo-container">
      @if (config.logo.url) {
        <img [src]="config.logo.url" [alt]="config.logo.name" class="logo" />
      } @else if (config.logo.path) {
        <svg viewBox="0 0 24 24" class="logo-svg" fill="currentColor">
          <path [attr.d]="config.logo.path"></path>
        </svg>
      }
      <span class="logo-text" *ngIf="!isCollapsed">{{ config.logo.name }}</span>
    </div>
    <button class="toggle-btn" (click)="toggleCollapse()" [attr.aria-label]="isCollapsed ? 'Expand sidebar' : 'Collapse sidebar'">
      <svg viewBox="0 0 24 24" width="20" height="20" fill="currentColor">
        <path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z" *ngIf="!isCollapsed"></path>
        <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z" *ngIf="isCollapsed"></path>
      </svg>
    </button>
  </div>

  <nav class="sidenav-nav">
    <ul>
      @for (item of config.items; track item.name) {
        <li>
          <a [routerLink]="item.url" routerLinkActive="active" class="nav-item">
            <div class="icon-container">
              @if (item.icon.url) {
                <img [src]="item.icon.url" [alt]="item.icon.name" class="nav-icon" />
              } @else if (item.icon.path) {
                <svg viewBox="0 0 24 24" class="nav-icon-svg" fill="currentColor">
                  <path [attr.d]="item.icon.path"></path>
                </svg>
              }
            </div>
            <span class="nav-label" *ngIf="!isCollapsed">{{ item.label }}</span>
          </a>
        </li>
      }
    </ul>
  </nav>

  <div class="sidenav-footer">
    <button class="signout-item" (click)="signOut()" [title]="isCollapsed ? 'Sign out' : ''">
      <div class="icon-container">
        <svg viewBox="0 0 24 24" width="18" height="18" fill="currentColor" class="nav-icon-svg">
          <path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/>
        </svg>
      </div>
      <span class="nav-label" *ngIf="!isCollapsed">Sign out</span>
    </button>
  </div>
</aside>
